.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="/")
        | TNC Burndown Chart
      .nav-collapse
        ul.nav
          li.dropdown
            a.dropdown-toggle(data-toggle="dropdown", href="#") 
              small
                | for  
              | #{config.team}
              b.caret
            ul.team-list.dropdown-menu
              for team in teams
                li: a(href="#/on/team/#{encodeURIComponent(team)}") #{team}

if sprint
  .container
    .row
      .span8.offset1
        .page-header
          h3 Today is Day of Sprint # #{sprint.number}
      .span2
        .page-header.pull-right
          h3
            a.btn.btn-success.new-sprint-btn(href="#/on/team/#{config.teamEncoded}/create/sprint") New Sprint

    .row
      .span10.offset1
        form.form-search.well.chart-form
          | on 
          select#day-select.input-medium
            option(selected="selected") Yesterday
            - for (var i=1;i<=config.length;i++)
              - if (i == 1) 
                option(value=(i)) 1st day
              - else if (i == 2)
                option(value=(i)) 2nd day
              - else if (i == 3)
                option(value=(i)) 3rd day
              - else
                option(value=(i)) #{i}th day
          |  we burnt 
          input#point-input.input-tiny(type="text")
          |  points
          .chart-actions
            a.btn.btn-primary.btn-commit(href="#/commit") Commit
            |     
            a.btn.btn-preview.btn-info(href="#/preview") Preview
    .row
      .span10.offset1
        ul.thumbnails
          li.span10
            .thumbnail.chart
              img(src="http://placehold.it/960x480")
else
  include create_sprint
