.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="/")
        | TNC Burndown Chart
      .nav-collapse
        ul.nav
          li.dropdown
            a.dropdown-toggle(data-toggle="dropdown", href="#") 
              small
                | for  
              | #{config.team}
              b.caret
            ul.team-list.dropdown-menu
              for team in teams
                li: a(href="#/on/team/#{encodeURIComponent(team)}") #{team}

          if sprint
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown", href="#") 
                | Sprint  
                |  ##{sprint.number}
            if sprints.length > 1
                b.caret
              ul.team-list.dropdown-menu
                each s in sprints
                  li: a(href="#/on/team/#{encodeURIComponent(config.team)}/sprint/#{s.number}") ##{s.number}

if sprint
  .container
    .row
      .span8.offset1
        .page-header
          if today
            h3 Today is #{today} Day of Sprint # #{sprint.number}
      .span2
        .page-header.pull-right
          h3
            a.btn.btn-success.new-sprint-btn(href="#/on/team/#{config.teamEncoded}/create/sprint") New Sprint

    .row
      .span10.offset1
        form.form-search.well.chart-form
          | on 
          select#day-select.input-medium(data-placeholder="Yesterday")
            each day, key in sprint.days 
              nth = key + 1
              if nth == 1 
                nthText = '1st day'
              else if nth == 2 
                nthText = '2nd day'
              else if nth == 3 
                nthText = '3rd day'
              else
                nthText = nth + "th" + " day"
              separetor = " - "
              option(value=(nth)) #{nthText}#{separetor}#{day}
          |  we burnt 
          input#point-input.input-tiny(type="text")
          |  points
          .chart-actions
            a.btn.btn-primary.btn-commit(href="#/commit") Commit
            |     
            a.btn.btn-preview.btn-info(href="#/preview") Preview
    .row
      .span10.offset1
        ul.thumbnails
          li.span10
            .thumbnail
              #chart

else
  include create_sprint
